.text-converter{
    background: white;
    border-radius: 20px;
    border: 10px solid #1a87a8;
    position: absolute;
    top: 35%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 20px;
    
}