<div class = "wrapper">
  <div class="d-flex justify-content-center" *ngIf ="!initLoad" id="spinnerwrap">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class = "text-converter" *ngIf = "initLoad">
    <div class = "table-text">
      <form>
        <div class="form-group">
          <input [attr.disabled]="this.editing ? 'disabled' : null" type="text" [(ngModel)]= "this.message.title" name = "title" value = "title" placeholder="Title">
          <br>  
          <textarea [attr.disabled]="this.message.title === 'Instructions' ? 'disabled' : null" class="form-control mt-2" rows="5" id="comment" [(ngModel)]= "this.message.message" name = "comment" placeholder="Comment.."></textarea>
          <br>
          <label for="voice">Select your voice below..</label>
          <select name="voice" [(ngModel)]= "this.message.voice" ngDefaultControl class="form-control">
            <option [value]="" selected disabled>Select your voice..</option>
            <option [value] = "voice" *ngFor="let voice of voices">{{voice}}</option>
          </select>
        </div>
      </form>

      <button *ngIf="!editing" type="submit" class="btn btn-primary" (click) = "addNote()">Add</button>
      <button *ngIf="editing && message.title != 'Instructions'" (click) = "edit(message)">Submit Edit</button>
      <button class ="btn btn-secondary" style = "float: right;" (click)="clear()">Clear</button>
      <button *ngIf="editing && message.title === 'Instructions'" (click) = "clear()">OK</button>
      <div *ngIf="done == true">Message submitted.</div>
      <div *ngIf="done == false">
        <div *ngIf = "emptyBody == true">
          <div *ngIf = "emptyTitle == true">
            Please fill out the title and comment for your note above.
          </div>
          <div *ngIf = "emptyTitle == false">
            Please fill out the comment for your note above.
          </div>
        </div>
        <div *ngIf = "emptyTitle == true && emptyBody == false">
          Please fill out the title for your note above.
        </div>
        <div *ngIf = "sameTitle == true">
          Error: titles must be unique. Please change title name or delete note that is already using that title. 
        </div>  
      </div>
      <div *ngIf="this.fileList.length === 0 && !loading">No Notes submitted. Please add notes above!</div>
      <div *ngIf="this.fileList.length > 0">
        <table class = "table">
          <tr>
            <th scope="col">Title</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          <tr *ngFor= "let file of fileList" >
            <td (click) = "getNoteDetails(file)">{{file.title}}</td>
            <td (click) = "getNoteDetails(file)"><i class="fas fa-play-circle" (click)="playAudio(file.filePath)"></i></td>
            <td><i *ngIf="file.title !== 'Instructions'"class="fas fa-trash-alt" (click)="deleteFile(file)"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>