.main {
    background-color: gray;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

@media only screen and (max-width: 915px) {
    .navText {
      display: none;
    }
  }

.navText {
    font-family:Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 18px;
    cursor: pointer;
    
}

