<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="http://www.keatonwineman.com">
      <img src="../assets/wineman3_avi.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class ="navText"> Click here to go back to Keatonwineman.com</span>
    </a>
    <a class="navbar-brand" href="http://www.github.com/wineman3/text-to-speech">
        <span class="navText">Check out the github repo here </span>
        <i class="fab fa-github"></i>
    </a>
    
</nav>
<div class = "main">
    <app-textconverter></app-textconverter>
</div>